---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.job_title }}
        at <a href="{{ page.website }}">{{ page.company }}</a>
    </p>
  </header>

    <div class="featured-image">
        <img src="{{ page.photo_path }}" alt="{{ page.full_name }} photo from {{ page.company }}">
    </div>

    <article class="post-content">
    {{ content }}
  </article>

  <!-- Beginning Twitter sharing Large button -->
  <a class="twitter-share-button" href="https://twitter.com/share"
  data-related="twitterdev"
  data-size="large"
  data-count="horizontal">
  Tweet
  </a>
  <!-- End of Twitter sharing button -->

  <hr>

  <div class="question">
    <h2>More info about {{ page.full_name }}</h2>
    <p>{{ page.full_name }} is from {{ page.place_origin}}.
        You can find {{ page.full_name}} on <a href="https://twitter.com/{{ page.twitter }}">Twitter</a>,
        <a href="https://facebook.com/{{ page.facebook }}">Facebook</a>.
    </p>
    <a class="twitter-follow-button"
    href="https://twitter.com/{{ page.twitter }}"
    data-show-count="true"
    data-size="large">
    Follow @{{ page.twitter }}
    </a>
    <script type="text/javascript">
    window.twttr = (function (d, s, id) {
      var t, js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src= "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
      return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
    }(document, "script", "twitter-wjs"));
    </script>
  </div>

  <!-- div class="related">
    <h2>Related</h2>
    {% for person in site.related_people limit:3 %}
      <li><a href="{{ person.url }}" title="{{ person.full_name }}">{{ person.full_name }}
       &nbsp; <span class="post-meta">{{ person.company }}</span></a>
    {% endfor %}
</div -->

</div>
